@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #f7f7f7;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  padding: 0px;
  margin: 0px;
  font-family: "IBM Plex Sans", Arial, sans-serif;
  font-weight: 500;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.logo {
  width: clamp(170px, 20vw, 200px);

}

.logo img {
  width: 100%;
  height: auto;
  display: flex;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px clamp(40px, 5vw, 240px);
  background-color: #ffffff;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

nav ul li a {
  font-family: "IBM Plex Sans";
  font-size: 1.25rem;
}

.btn {
  padding: 12px 24px;
  background: linear-gradient(#9d2aee, #5c019c);
  border-radius: 7px;
  box-shadow: 0px 4px 4px 0px rgba(8, 8, 17, 0.15);
  font-weight: 500;
  color: #dec9e5;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

/* Main start */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-intro {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  /* justify-items: center; */
  align-items: center;
  grid-column: 1/-1;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 125px;
  gap: 140px;
}

.elipse-detalhe {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../src/elipse.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  align-self: center;
  margin-bottom: 50px;
}


.grid-intro-column-1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-self: start;

}

.grid-intro-column-2 h2{
 font-size: 3rem;
}

.grid-intro-column-2 h3{
 font-size: 1.75rem;
 line-height: 2.625rem;
}

.info-localizacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.detalhe-contraste {
  color: #5e1597;
}

.grid-intro section h1 {
  font-size: 4rem;
  line-height: 4.125rem;
}

.info-localizacao h4 {
  font-size: 1.5rem;
  color: #3C3E55;
}

.grid-intro-column-2 {
  position: relative;
  justify-self: center;
  align-self: start;
}

.grid-intro-column-2::after {
  content: "";
  display: block;
  width: 160px;
  height: 2px;
  background-color: #A061CA;
  position: absolute;
  bottom: -80px;
  left: 30%;
}

.grid-exp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "IBM Plex Sans", Arial, sans-serif;
  grid-column: 1/-1;
  max-width: 1440px;
  margin: 0 auto;
  gap: clamp(0px, 20vw, 400px);
  padding-bottom: 180px;
  padding-top: 180px;
}

p {
  margin: 0px;
}

.apoio-exp {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 6.6rem;
  color: #E4E4E4;
  justify-self: start;
  grid-column: 1/1;
}

.experiencias {
  grid-column: 2/-1;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 65px;
  margin-top: 90px;
}

.data-exp {
  font-size: 1rem;
  color: #6B6F82;
  font-weight: 400;
}

.card-exp h4 {
  font-size: 1.5rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  color: #080811;
  font-weight: 500;
}

.funcao-exp {
  font-size: 1rem;
  color: #838799;
}

.card-exp p {
  font-size: 1rem;
  color: #3C3E55;
  line-height: 1.4rem;
  font-weight: 400;
  max-width: 50ch;
  margin-top: 16px;
  margin-left: 20px;
}

.card-exp p strong{
  font-weight: 600;
}

.card-exp {
  background-color: #EBEBEB;
  padding-top: 18px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 35px;
  box-shadow: 0px 6px 6px -2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
}

.card-exp::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 22px;
  background-color: #5E1597;
  top: 20px;
  left: 20px;
}

.card-exp::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 22px;
  background-color: #A061CA;
  top: 20px;
  left: 23px;
}

.flex-exp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.funcao-exp {
  align-self: center;
}

.background-formacao {
  grid-column: 1/-1;
  background-color: #171827;
  width: 100%;
}

.formacao-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 40px;
  grid-column: 1/-1;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  background-color: #171827;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 160px;
  padding-bottom: 140px;
}


.formacao-grid-column-2 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  grid-column: 2/-1;
}

.apoio-formacao {
  font-size: 6rem;
  line-height: 6.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #28283D;
}

.descricao-formacao {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 500;
  max-width: 50ch;
  margin-top: 10px;
  color: #BFC0C2;
}

.card-formacao {
  background-color: #28283D;
  padding-top: 18px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 35px;
  border-radius: 5px;
  position: relative;
}

.card-formacao::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: linear-gradient(#A061CA, #5E1597);
  border-radius: 50%;
  top: 50px;
  left: -100px;
}

.card-formacao h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #F7F7F7;
}

.instituicao-formacao {
  font-size: 1.2rem;
  line-height: 2.25rem;
  color: #D2D2D2;
  font-weight: 600;
}

.flex-card-formacao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.data-formacao {
  align-self: center;
}

.instituicao-formacao {
  margin-top: 16px;
  margin-left: 20px;
}

.data-formacao {
  font-size: 1.25rem;
  color: #BFC0C2;
  font-weight: 500;
}

.formacoes {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 60px;
}

.ultimo {
  position: relative;
}

.ultimo::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url(../src/setagoogle.svg);
  background-repeat: no-repeat;
  top: -70px;
  left: -104px;
}

.background-footer {
  width: 100%;
  background-color: #000000;
}

footer {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  background-color: #000000;
  justify-items: center;
  padding: 30px clamp(40px, 5vw, 240px);
  padding-top: 120px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin: 0 auto;
  
}

footer p {
  color: #BFC0C2;
  font-size: 1.75rem;
  line-height: 2.625rem;
  font-weight: 400;
  align-self: center;
  max-width: 25ch;
}

.copyright {
  color: #575A70;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 110px;
}

footer ul li {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #F7F7F7;
  position: relative;
}

.lista-contatos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer ul li a::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 22px;
  background-color: #5E1597;
  top: 13px;
  left: -15px;
}

footer ul li a::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 22px;
  background-color: #A061CA;
  top: 13px;
  left: -12px;
}

@media (max-width: 1550px) {

  header {
    padding: 30px clamp(40px, 5vw, 240px);
  }

  .logo {
    max-width: 200px;
  }

  nav ul li a {
    font-size: 1rem;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-intro {
    margin-top: 80px;
    padding: 30px clamp(40px, 5vw, 240px);
  }

  .grid-intro-column-2 h2{
    font-size: 2.5rem;
  }

  .grid-intro-column-2 h3{
    font-size: 1.3rem;
    line-height: 2.2rem;
    margin-top: 15px;
  }

  .grid-intro section h1 {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }

  .info-localizacao h4 {
    font-size: 1.2rem;
    color: #3C3E55;
  }

  .grid-intro-column-2::after {
    content: "";
    display: block;
    width: 160px;
    height: 2px;
    background-color: #A061CA;
    position: absolute;
    bottom: -35%;
    left: 30%;
  }

  .grid-exp {
    padding-top: 100px;
    padding-left: 140px;
    padding-right: 140px;
  }

  .formacao-grid {
    padding: 140px;
  }
  
  .descricao-formacao {
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 400;
  }

  .apoio-formacao {
    font-size: 5rem;
    line-height: 5.5rem;
  }

  .apoio-exp {
    font-size: 5rem;
    line-height: 5.5rem;
  }

  .card-formacao h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #F7F7F7;
  }

  .instituicao-formacao {
    font-size: 0.9rem;
    line-height: 2.25rem;
    color: #D2D2D2;
    font-weight: 600;
  }

  .data-formacao {
    font-size: 0.9rem;
    color: #BFC0C2;
    font-weight: 500;
  }

  .elipse-detalhe {
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
    justify-self: start;
  }

  .card-formacao::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(#A061CA, #5E1597);
    border-radius: 50%;
    top: 55px;
    left: -100px;
  }

  footer p {
    color: #BFC0C2;
    font-size: 1.25rem;
    line-height: 1.8rem;
    max-width: 25ch;
    font-weight: 400;
  }

  .copyright {
    color: #575A70;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 60px;
    margin-left: 55px;
  }

  footer ul li {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #F7F7F7;
  }

  footer ul li a::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 22px;
    background-color: #5E1597;
    top: 5px;
    left: -15px;
  }

  footer ul li a::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 22px;
    background-color: #A061CA;
    top: 5px;
    left: -12px;
  }
}

@media (max-width: 1100px){
  .elipse-detalhe {
    display: none;
  }

  .grid-intro {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-intro {
    display: grid;
    grid-template-columns: 1fr;
    /* justify-items: center; */
    align-items: center;
    text-align: center;
    grid-column: 1/-1;
    position: relative;
    padding: 0;
    margin: 125px auto;
    gap: 180px;
  }

  .grid-intro-column-2 {
    position: relative;
    justify-self: start;
    align-self: start;
    margin: 0;
  }

  .grid-intro-column-2::after {
    bottom: 250px;
    position: absolute;
    display: block;
    left: 80px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px clamp(40px, 5vw, 240px);
    gap: 60px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li a {
    font-family: "IBM Plex Sans";
    font-size: 1.25rem;
  }

  .btn {
    padding: 12px 24px;
    background: linear-gradient(#9d2aee, #5c019c);
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(8, 8, 17, 0.15);
    font-weight: 500;
    color: #dec9e5;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }
}

@media (max-width: 850px) {

  .grid-intro {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .grid-exp {
    grid-template-columns: 1fr;
    margin-top: 0px;
  }

  .apoio-exp {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 5.5rem;
    color: #E4E4E4;
    justify-self: center;
  }

  .experiencias {
    grid-column: 1/-1;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 65px;
    margin-top: 90px;
  }

  .formacao-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 40px;
    margin-top: 160px;
    grid-column: 1/-1;
  }

  .formacao-grid-column-2 {
    display: flex;
    flex-direction: column;
    gap: 60px;
    grid-column: 1/-1;
  }

  .apoio-formacao {
    font-size: 5rem;
    line-height: 5.5rem;
    justify-self: center;
  }

  .descricao-formacao {
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 400;
    max-width: 50ch;
    margin-top: 10px;
  }

  .card-formacao {
    background-color: #28283D;
    padding-top: 18px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
    border-radius: 5px;
    position: relative;
  }

  .card-formacao::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: linear-gradient(#A061CA, #5E1597);
    border-radius: 50%;
    top: 58px;
    left: -70px;
  }

  .ultimo::after {
    top: -70px;
    left: -78px;
  }

  footer {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 100px;
    padding: 30px clamp(40px, 5vw, 240px);
    padding-top: 60px;
    padding-bottom: 40px;
  }

  footer p {
    color: #BFC0C2;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 400;
    align-self: center;
    text-align: center;
    max-width: 25ch;
  }

  .copyright {
    color: #575A70;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 0;
    margin-top: 0px;
  }

  footer ul li {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #F7F7F7;
    position: relative;
  }

  .lista-contatos {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  footer ul li a::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 22px;
    background-color: #5E1597;
    top: 5px;
    left: -15px;
  }

  footer ul li a::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 22px;
    background-color: #A061CA;
    top: 5px;
    left: -12px;
  }
}

@media (max-width: 560px){
  .grid-intro{
    padding: 30px clamp(40px, 5vw, 240px);
  }

  .grid-exp {
    padding: 30px clamp(40px, 5vw, 240px);
  }

  .formacao-grid {
    padding: 30px clamp(40px, 5vw, 240px);
  }

  footer {
    padding: 30px clamp(40px, 5vw, 240px);
    padding-top: 100px;
  }

  .grid-intro-column-2::after {
    bottom: -60px;
    left: 27%;
  }
}